NODE_ENV = development
PORT=5000
HOST=localhost:5000
MONGO_URI=yourLegitMongoUri
TEST_MONGO_URI=YourMongoUriForTestingPurposes
JWT_SECRET=WhateverYouWant
SENDGRID_API_KEY=fromSendGrid
SENDING_EMAIL=yourEmailOrTheCompanyEmail
SESSION_KEY=WhateverYpouWant
GOOGLE_CLIENT_ID=ForGoogleOAuth
GOOGLE_CLIENT_SECRET=AlsoGoogleOAuth
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
CLIENT_URL=http://localhost:5173
GOOGLE_MAPS_API_KEY=ForTheGoogleMapsAPI
LOGGER=winston
