NODE_ENV=development
PORT=5050
MONGO_URI=yourLegitMongoUri
TEST_MONGO_URI=YourMongoUriForTestingPurposes
JWT_SECRET=WhateverYouWant
SESSION_KEY=WhateverYouWant
RESEND_API_KEY=your_resend_api_key
SENDING_EMAIL=onboarding@resend.dev
GOOGLE_CLIENT_ID=ForGoogleOAuth
GOOGLE_CLIENT_SECRET=AlsoGoogleOAuth
GOOGLE_CALLBACK_URL=http://localhost:5050/api/auth/google/callback
CLIENT_URL=http://localhost:5173
VITE_MAPBOX_TOKEN=your_mapbox_token
VITE_API_URL=
VERCEL=
