.App {
  height: 100px;
  width: 100px;
  background: white;
}

body {
  font-family:
    IBM Plex Sans,
    monospace !important;
}

.map-container {
  height: 100%;
  width: 100%;
}

.custom-vh-sm {
  min-height: 75vh;
}

.carousel-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
  padding: 5px;
}

.services-list h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

.min-w-service-search {
    min-width: 300px; /* Set the minimum width to 100px */
  }

  /* Additional styling for a little bigger width */
  .wider-service-search {
    width: 150px; /* Set a wider width, adjust as needed */
  }
